{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href={% static "styles/index.css" %}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={% static "js/calculate.js" %}></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Выберите тип расчета:</h2>
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" class="btn btn-secondary" id="load-csv-button"/>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="calculation-type" id="calculation-day"
                                   value="day" checked>
                            <label class="form-check-label" for="calculation-day">
                                Расчет дня
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="calculation-type" id="calculation-month"
                                   value="month">
                            <label class="form-check-label" for="calculation-month">
                                Расчет месяца
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="calculation-type" id="calculation-year"
                                   value="year">
                            <label class="form-check-label" for="calculation-year">
                                Расчет года
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="calculation-type" id="calculation-custom"
                                   value="custom">
                            <label class="form-check-label" for="calculation-custom">
                                Расчет по произвольному интервалу
                            </label>
                        </div>
                    </div>
                    <div class="form-group m-2">
                        <div class="row m-2">
                            <div class="col-4">
                                <input class="form-check-input" type="checkbox" id="calculate-max-angle"
                                       name="calculateMaxAngle">
                                <label class="form-check-label" for="calculate-max-angle">
                                    Рассчитать<br>
                                    максимальный угол
                                </label>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="tilt-angle">Угол наклона:</label>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" id="tilt-angle" name="tilt-angle">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="by-day">
                        <div class="row m-2">
                            <div class="form-group col-4">
                                <label for="by-day-day">Номер дня:</label>
                            </div>
                            <div class="form-group col-4">
                                <label for="by-day-month">Номер месяца:</label>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="form-group col-4">
                                <input type="number" class="form-control" id="by-day-day" name="by-day-day">
                            </div>
                            <div class="form-group col-4">
                                <input type="number" class="form-control" id="by-day-month" name="by-day-month">
                            </div>
                        </div>
                    </div>
                    <div id="by-month" style="display: none">
                        <div class="row m-2">
                            <div class="form-group col-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="calculation-type-month"
                                           id="calculation-month-day"
                                           value="day" checked>
                                    <label class="form-check-label" for="calculation-month-day">
                                        Расчет по дням
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="calculation-type-month"
                                           id="calculation-month-hour"
                                           value="hour">
                                    <label class="form-check-label" for="calculation-month-hour">
                                        Расчет по часам
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-4">
                                <label for="by-month-month">Номер месяца:</label>
                                <input type="number" class="form-control" id="by-month-month" name="by-month-month">
                            </div>
                        </div>
                    </div>
                    <div id="by-year" style="display: none">
                        <div class="row m-2">
                            <div class="form-group col-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="calculation-type-year"
                                           id="calculation-year-day"
                                           value="day" checked>
                                    <label class="form-check-label" for="calculation-year-day">
                                        Расчет по дням
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="calculation-type-year"
                                           id="calculation-year-hour"
                                           value="hour">
                                    <label class="form-check-label" for="calculation-year-hour">
                                        Расчет по часам
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="calculation-type-year"
                                           id="calculation-year-month"
                                           value="month">
                                    <label class="form-check-label" for="calculation-year-month">
                                        Расчет по месяцам
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="by-custom" style="display: none">
                        <div class="row m-2">
                            <div class="form-group col-4">
                                <label for="num-day-m-start">Номер первого дня:</label>
                            </div>
                            <div class="form-group col-4">
                                <label for="num-day-m-end">Номер последнего дня:</label>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="form-group col-4">
                                <input type="number" class="form-control" id="num-day-m-start" name="num-day-m-start">
                            </div>
                            <div class="form-group col-4">
                                <input type="number" class="form-control" id="num-day-m-end" name="num-day-m-end">
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="form-group col-4">
                                <label for="num-month-start">Номер первого месяца:</label>
                            </div>
                            <div class="form-group col-4">
                                <label for="num-month-end">Номер посдеднего месяца:</label>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="form-group col-4">
                                <input type="number" class="form-control" id="num-month-start" name="num-month-start">
                            </div>
                            <div class="form-group col-4">
                                <input type="number" class="form-control" id="num-month-end" name="num-month-end">
                            </div>
                        </div>
                    </div>
                    <div id="input-field-container">
                        <div class="row m-2">
                            <div class="form-group col-4">
                                <label for="latitude">Широта:</label>
                            </div>
                            <div class="form-group col-4">
                                <label for="azimuth">Азимут:</label>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="form-group col-4">
                                <input type="number" class="form-control" id="latitude" name="latitude">
                            </div>
                            <div class="form-group col-4">
                                <input type="number" class="form-control" id="azimuth" name="azimuth">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="calculate-button">Рассчитать</button>
                    <button type="button" class="btn btn-success" id="downloadCsvBtn">Скачать CSV</button>
                </form>
                <div style="display: none" class="alert alert-danger" role="alert" id="error-message"></div>
            </div>
        </div>
    </div>

{% endblock %}