{% extends "base.html" %}
{% load static %}

{% block title %}
    Карта
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href={% static "styles/index.css" %}>
{% endblock %}

{% block scripts %}
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <script type="text/javascript" src={% static "js/index.js" %}></script>
{% endblock %}

{% block content %}
    <div class="map-container">
        <svg id="map"></svg>
    </div>
    <div id="list"></div>
{% endblock %}