{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href={% static "styles/index.css" %}>
{% endblock %}

{% block scripts %}
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script type="text/javascript" src={% static "js/station_info.js" %}></script>
{% endblock %}

{% block content %}
    <div class="parent">
        <div class="info_container">
            <div class="station_name"></div>
            <div class="station_region"></div>
            <div class="station_coordinates">
                <div class="station_latitude"></div>
                <div class="station_longitude"></div>
            </div>
        </div>

        <h1>Альбедо</h1>
        <div class="chartBox">
            <canvas id="albedo"></canvas>
        </div>

        <h1>Диффузная солнечная радиация</h1>
        <div class="chartBox">
            <canvas id="diffuse"></canvas>
        </div>

        <h3>Диффузная солнечная радиация по часам</h3>
        <table id="diffuse-hourly">
            <thead>
            <tr>
                <th>Час</th>
                <th>Январь</th>
                <th>Февраль</th>
                <th>Март</th>
                <th>Апрель</th>
                <th>Май</th>
                <th>Июнь</th>
                <th>Июль</th>
                <th>Август</th>
                <th>Сентябрь</th>
                <th>Октябрь</th>
                <th>Ноябрь</th>
                <th>Декабрь</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h1>Суммарная солнечная радиация</h1>
        <div class="chartBox">
            <canvas id="total"></canvas>
        </div>

        <h3>Суммарная солнечная радиация по часам</h3>
        <table id="total-hourly">
            <thead>
            <tr>
                <th>Час</th>
                <th>Январь</th>
                <th>Февраль</th>
                <th>Март</th>
                <th>Апрель</th>
                <th>Май</th>
                <th>Июнь</th>
                <th>Июль</th>
                <th>Август</th>
                <th>Сентябрь</th>
                <th>Октябрь</th>
                <th>Ноябрь</th>
                <th>Декабрь</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h1>Прямая солнечная радиация</h1>
        <div class="chartBox">
            <canvas id="direct"></canvas>
        </div>

        <h3>Прямая солнечная радиация по часам</h3>
        <table id="direct-hourly">
            <thead>
            <tr>
                <th>Час</th>
                <th>Январь</th>
                <th>Февраль</th>
                <th>Март</th>
                <th>Апрель</th>
                <th>Май</th>
                <th>Июнь</th>
                <th>Июль</th>
                <th>Август</th>
                <th>Сентябрь</th>
                <th>Октябрь</th>
                <th>Ноябрь</th>
                <th>Декабрь</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
{% endblock %}