body {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, serif;
}

.map-container {
    float: left;
    overflow: hidden;
    height: 100vh;
    width: 65%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#list {
    float: right;
    width: 35%;
    overflow-y: auto;
    max-height: 700px;
}

ul {
    font-family: helvetica, arial, serif;
    list-style-type: none;
}

.parent {
    text-align: center;
}

.chartBox {
    display: inline-block;
    height: 50vh;
    width: 70vw;
}

.info_container {
    display: inline-block;
    margin: 1em 3em 0 3em;
    border: 3px solid black;
    width: 30vw;
}

.station_coordinates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}

.station_latitude {
    padding: 0 1em 0 0;
}

.station_longitude {
    padding: 0 0 0 1em;
}

.station_name {
    padding-top: 1em;
    font-size: 1.4em;
}

table {
    display: inline-block;
}